<mat-card style="width :80%">
  <ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="data"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-line-chart>
  <!-- <div style="display: block">
    <canvas 
      baseChart
      *ngIf="bubbleChartData?.length"
      [datasets]="bubbleChartData"
      [options]="bubbleChartOptions"
      [colors]="bubbleChartColors"
      [legend]="bubbleChartLegend"
      [chartType]="bubbleChartType"
    >
    </canvas>
  </div> -->
</mat-card>
